:root{
    --color-primario: aliceblue;
    --color-secundario: rgb(163, 150, 133);
    --blanco:white;
    --verde: #1D9E75;
    --shadow: 1px 1px 5px  rgb(0, 101, 252);
    --shadow-green: 1px 1px 5px  #1D9E75;;
    --no-borde:none;
    --centro: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
}

/* Aqui estaran los estilos del header*/
header{
    background-color:white;
    left: 290px;
    width: calc(100% - 290px);
    height: 60px;
    padding: 0px 25px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0px;
}
header .informacion{
    padding: 13px 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
header .informacion button{
    background-color: white;
    border: none;
    width: 37px;
    height: 38px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}
header .informacion button i{
    font-size: 25px;
}
header .informacion button span{
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
}
header .informacion button span:hover{
    background-color: rgb(194, 39, 39);
    transform: scale(1.2);
}
header .informacion button span:active{
    background-color: rgb(236, 68, 68);
}
header .informacion div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
header .informacion div p{
    color: green;
}
header .informacion span{
    background-color: rgb(119, 173, 207);
    color:blue;
    font-weight: bold;
    height: 40px;
    width:40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Aquie estaran los estilos del aside*/

aside{
    background-color: white;
    width: 290px;
    height: 100vh;
    padding: 10px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    top: 0px;
    left: 0px;
    gap: 20px;
}
.logo{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid blue;
    gap: 10px;
}
.logo img{
   width: 50px;
}
.identidad{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.identidad .codigo{
    background-color: rgb(119, 173, 207);
    color:blue;
    font-weight: bold;
    height: 40px;
    width:40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.identidad h2{
    font-size: 17px;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav a.activo{
    background-color: rgb(123, 175, 216);
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}
nav a:hover{
    background-color: rgb(123, 175, 216);
    transform: translate(10px,0px);
}
nav a i{
    color:var(--verde);
}
.cerrar-sesion{
    background-color: aliceblue;
    color: red;
    width: 100%;
    height: 50px;
    margin-top: auto;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cerrar-sesion:hover{
    background-color: rgb(179, 150, 150);
}
.cerrar-sesion:active{
    background-color: rgb(205, 112, 112);
}

/*Aque estaran los estilos del main*/

main{
    background-color:var(--color-primario);
    height:100vh;
    margin-left: 290px;
    padding: 10px 30px;
    overflow-x: hidden;
    overflow-y: auto;
}


